# Distribution/packaging
scripts/__pycache__*
scripts/*.pyc

# Environments
.idea/*

# Documentation drafts
resources/documentation/images/PheKnowVec - Experiments.pdf
resources/documentation/images/wiki/ReproducibleRepository.pptx

# Programming resources
resources/programming/Google_API/*
scripts/scratch.py
tests/**

# Data
temp_results/*

# Jupyter notebooks
notebooks/.ipynb_checkpoints/main-checkpoint.ipynb
notebooks/main.ipynb


resources/documentation/collaborator_agreements/Whitley_Yi_PheKnowVecCollaborationAgreement.pdf
