---
name: Source Code Verification
about: Tracking Source Code Verification Efforts
title: ''
labels: source code verification
assignees: callahantiff

---

**Student (GitHub Username):**
**Verification Number:**

**Verification Task Description:** 

**Verification Assignments:**
- [ ] ADHD
- [ ] Appendicitis
- [ ] Crohn’s Disease
- [ ] Hypothyroidism
- [ ] Peanut Allergy
- [ ] Steroid-Induced Osteonecrosis
- [ ] Systemic Lupus Erythematosus
